[user]
    name = NAME
    email = EMAIL
[core]
    quotepath = false
    attributesfile = ~/.gitattributes
    excludesfile = ~/.gitignore_global
[color]
    ui = auto
[init]
    templatedir = ~/.git_template
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[alias]
    st = status -sb
    df = diff
    co = checkout
    b = branch
    pl = pull
    ps = push
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
