[core]
    quotepath = false
    attributesfile = ~/.gitattributes
    excludesfile = ~/.gitignore_global
[color]
    ui = auto
[alias]
    st = status -sb
    df = diff
    co = checkout
    b = branch
    pl = pull
    ps = push
[pull]
    rebase = true
[push]
    default = current
[fetch]
    prune = true
[diff]
    algorithm = histogram
[merge]
    conflictstyle = zdiff3
[init]
    defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[include]
    path = ~/.gitconfig.local
